.myaccount-list {
  border-bottom: 1px solid #f2f2f2;
}

.myaccount-content img.address-icon {
  padding: 16px 20px;
  background: #f1f1f1;
  border-radius: 38px;
  font-size: 21px;
  opacity: 0.8;
}

.myaccount-content h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
}

.myaccount-address p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
  margin: 0;
}

.myaccount-address .address-title {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.myaccount-action span {
  background: rgba(0, 135, 90, 0.5);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
}

.myaccount-inactive span {
  background: rgba(121, 126, 125, 0.5);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

.myaccount-inactive {
  margin-right: 16px;
  width: 100px;
}

.myaccount-active {
  margin-right: 30px;
  width: 50px;
}

.myaccount-action button {
  background: #2d2d2d;
  border-radius: 4px;
  border: 1px solid #2d2d2d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 6px 10px;
}

.sideBar-header {
  width: 77%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .sideBar-header {
    width: 100%;
    padding: 0 15px;
  }
  .w-md-50 {
    width: auto !important;
    min-width: 50% !important;
  }
}

.w-md-50 {
  min-width: 50%;
}
@media (max-width: 767px) {
  .myaccount-address p {
    font-size: 12px;
  }
}
