.payment-method-header h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #31312E;
}

.payment-method-header a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #6B6B6B;
}

.payment-wallet-points {
    border-bottom:  1px solid #f2f2f2;
    padding-bottom: 30px;
}

.payment-wallet-points .payment-wallet-credits {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 24px;
}

.wallet-credit-content h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

.wallet-credit-content p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #6B6B6B;
    margin: 0;
}

.payment-cards .payment-wallet-credits {
    padding: 22px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin: 30px 0;
}

.payment-cards .payment-wallet-credits:last-child {
    margin-bottom: 0;
}

.wallet-action i.fa-check{
    background: #000;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
}

.wallet-credits-amount p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
    margin: 0;
}

.wallet-credits-amount h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.payment-cards .no-service-container {
    margin-top: 30px;
}

.payment-cards .no-service-container .content {
    padding: 50px 0 0;
}

.payment-cards .no-service-container .content h6 {
    margin-bottom: 30px;
    color: #7A869A;
}

.payment-cards .no-service-container .content h5 {
    color: #172B4D;
}

.payment-btn button {
    width: 100%;
    background: #000000;
    border-radius: 50px;
    border: 1px solid #000000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px;
}