.paginationButtonContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.page-button {
  margin: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(134, 134, 134);
  cursor: pointer;
}

.activeButton {
  color: #fff !important;
  background-color: #000;
}

.activeButton > a.page-button-number {
  color: #fff;
  list-style: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  color: #000 !important;
}

.page-button-number {
  color: #000;
  cursor: default;
  text-decoration: none;
  line-height: 38px;
  cursor: pointer;
}
