.heading .title h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2D2D2D;
    margin: 0;
}

.heading .filter {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: #6B6B6B;
    text-transform: capitalize;
}

.heading .filter img {
    cursor: pointer;
}

.filter-actions {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
    position: absolute;
    z-index: 999;
    right: 0;
}

.filter-actions h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    margin: 0 0 25px;
}

.filter-actions ul {
    list-style: none;
    padding: 0;
}

.filter-actions li:first-child {
    border-radius: 5px 5px 0px 0px;
}

.filter-actions li:last-child {
    border-radius: 0px 0px 5px 5px;
}

.filter-actions li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #31312E;
    border: 1px solid #EAEAEA;
    padding: 13px 50px;
    cursor: pointer;
}

.filter-actions li.active {
    border: 1px solid #000000;
}



.services-item {
    background: #FFFFFF;
    border: 1.22694px solid #F2F2F2;
    box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.services-item:hover {
    border-color: #000;
}

.services-item .services-img img {
    width: 95px;
    height: 95px;
    border-radius: 10.738px;
}

.services-item .services-img h6 {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    background: #fff;
    border-radius: 5px;
    padding: 4px 8px;
    line-height: 1;
}

.services-item .services-list-details {
    margin-left: 15px;
    width: 100%;
}

.services-item .services-list-details .service-title h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-item .services-list-details .stylist-type h6{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #6B6B6B;
    margin: 0;
}

.services-item .services-list-details .stylist-type .stylist-rating h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: -0.245388px;
    color: #000000;
    margin: 0;
}

.services-item .services-list-details .services-price h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    color: #F06543;
}

.services-item .services-list-details .services-price span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: line-through;
    margin-left: 5px;
    color: #7A869A;
}

.services-item .services-list-details .services-price .counter {
    background: #000000;
    border-radius: 2.45388px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 30px;
    width: 65px;
    justify-content: space-between;
}

.services-item .services-list-details .services-price .counter i {
    cursor: pointer;
}

@media (max-width: 991px) {
    .services-item .services-list-details .services-price .counter {
        margin-left: 10px;
    }
    .filter-actions {
        right: 10px;
        /* top: 45px; */
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
    .services-price{
        flex-direction: column;
    }
    .services-item .services-list-details .services-price h4, .services-item{
        text-align: left;
    }
    .services-price .counter{
        margin-left: unset !important;
    }

}