.header .title h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2d2d2d;
}

.filterButtonSection > div > ul {
  display: flex;
  flex-wrap: nowrap !important;
  list-style-type: none;
}

.filterButtonSection > div > ul > li > a.active {
  background: #000000;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 23px;
  border: 1px solid #000;
  text-decoration: none;
}

.stylistFilterButton {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
}

.stylist-sort-button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000 !important;
  padding: 10px 23px;
  text-align: center;
}

.sortButton .filter {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: #6b6b6b;
  text-transform: capitalize;
}

.stylist-sort-button > div.dropdown-menu {
  transform: translateX(0) !important;
}

.dropdownMenu {
  transform: translate3d(0, 59.2px, 0px) !important;
  inset: unset;
  height: 200px;
  overflow: auto;
}

.dropdownContainer .dropdownlistHeader {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  margin: 0 0 25px;
}

.dropdownMenu .dropdownContainer > span,
.filterGenderSection > span {
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #31312e;

  cursor: pointer;
  border-radius: 0.25rem;
}

.dropdownMenu .divider {
  margin: 10px 0;
  background-color: #000;
}

.dropdownMenu .dropdownContainer > span:hover,
.filterGenderSection > span:hover {
  outline: 1px solid #eaeaea;
}

.activeList {
  outline: 1px solid #000 !important;
}

.dropdownMenu .dropdownContainer > span {
  display: block;
  padding: 13px;
}

.filterGenderSection > span {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}
