.dropdownContainer{
    position: absolute;
    padding: 35px;
    background-color: #fff;
    border-radius: 15px;
    z-index: 99;
}

.dropdownListHeader{
    font-family: 'Poppins','sans-serif';
    line-height: 14px;
}

.dropdownList {
    padding: 0;
    list-style-type: none;
}

.dropdownList > li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #31312E;
    border: 1px solid #EAEAEA;
    padding: 13px 50px;
    cursor: pointer;
}