.otp-input input {
  text-align: center;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  color: #2d2d2d;
  height: 70px;
  width: 70px !important;
  margin-right: 18px;
}

.timer {
  margin: 34px 0;
}

.timer h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #7a869a;
}

.resend_link_disable a {
  color: currentColor !important;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

/* .otp-container button .fa {
  margin-left: -12px;
  margin-right: 8px;
} */

@media (max-width: 991px) {
  .otp-input input {
    height: 50px;
    width: 50px !important;
    margin-right: 5px;
  }
  .otp-container > div:first-child {
    justify-content: space-between;
  }
}
