.review-rating ul li {
  background: transparent;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 45px;
  padding: 8px 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #6b6b6b;
  margin: 0px 8px;
}

.review-rating ul li i.fa {
  color: #ff991f;
}

.review-rating ul li.active {
  background: #f2f2f2;
  border: 1px solid #000;
  color: #000;
}

.review-heading {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.review-heading .title h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  color: #000000;
  margin-right: 20px;
}

.review-list {
  border-bottom: 1px solid #eaeaea;
}

.review-list .review-img img {
  width: 46px;
  height: 46px;
  border-radius: 4px;
}

.review-content h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2d2d2d;
  margin-bottom: 5px;
}

.review-content h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: initial;
  color: #adadad;
  margin: 0;
}

.review-comment {
  margin-left: 70px;
}

.review-comment h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #31312e;
  margin: 0;
  text-align: initial;
}
.review-rating .review-tab {
  cursor: pointer;
}
.review-rating ul.react-tabs__tab-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  border-bottom: none;
}

.review-wrapper .dropdown-menu.show {
  min-width: auto;
}

.review-wrapper .dropdown-menu a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #31312e;
  border: 1px solid #eaeaea;
  padding: 13px 50px;
  cursor: pointer;
  margin-bottom: 0px;
}
.review-wrapper h5.dropdown-header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .review-list {
    text-align: center;
  }
  .review-content h6 {
    text-align: center;
  }
  .review-comment {
    margin: 0;
  }
  .review-rating ul li {
    margin: 15px 3px;
    font-size: 10px;
    padding: 5px 10px;
  }
}
