.available-slots-container {
    max-width: 430px;
    margin: auto;
}

.available-slots-container .card .slots-header h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #2D2D2D;
    margin: 0;
}

.available-slots-container .card .slot-list ul {
    display: flex;
    flex-wrap: wrap;
}

.available-slots-container .card .slot-list ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #7A869A;
    background: #FFFFFF;
    border: 1px solid #F4F5F7;
    border-radius: 4px;
    padding: 8px 18px;
    margin: 0 16px;
    max-width: 153px;
    margin: 26px 16px 0;
    width: 100%;
    text-align: center;
}

.available-slots-container .card .slot-list ul li:first-child {
    color: #00875A;
}

.available-slots-container .card .slot-list ul li.selected {
    color: #fff;
    background: #2D2D2D;
}

.available-slots-container .card .slot-list ul li span {
    font-size: 12px;
    font-weight: normal;
}

.calendar-header h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #2E3A59;
    margin: 0;
}

.calendar-header i.fa {
    font-size: 20px;
}

.calendar-dates {
    margin-top: 35px;
}

.calendar-dates .calendar-date h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(45, 45, 45, 0.6);
}

.calendar-dates .calendar-date span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #2D2D2D;
}

.available-slots-container .card {
    margin: 80px 0;
}


@media (max-width: 767px) {
    .available-slots-container .card {
        padding: 25px 12px;
        margin: 80px 0;
    }
    .available-slots-container .card .slot-list ul li {
        padding: 8px 8px;
        max-width: 140px;
        margin: 26px 8px 0;
    }
}