.profile-container {
  padding: 100px 0;
}

.profile-container .profile-image img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.profile-container .profile-image i.fa {
  position: absolute;
  bottom: 0;
  right: 5px;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  color: #200e32;
  font-size: 14px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profile-container .title h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.profile-container .profile-list .profile-item {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 18px;
}

.profile-container .profile-list .profile-item .profile-item-image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-container .profile-list .profile-item .profile-item-name h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
}

.profile-container .profile-list .profile-item .profile-item-name h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #6b6b6b;
  margin: 0;
}

.profile-container .profile-selection span {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #000000;
  padding: 12px 15px;
}

.profile-container .profile-item-actions .fa-ellipsis-h {
  color: #929292;
  cursor: pointer;
}

.profile-container .profile-item-image img {
  width: 52px;
  height: 52px;
}

.btn.add-member {
  background: #f2f2f2;
  border: 1px solid #fafafa;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
  padding: 20px;
  margin: 32px 0;
}

.btn.add-member:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #f2f2f2;
}

.btn.add-member:focus {
  background: #000000 !important;
  border: 1px solid #000000 !important;
  color: #f2f2f2 !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn.continue-btn {
  background: #000000;
  border-radius: 50px;
  border-color: #000;
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn.continue-btn:focus {
  background: #ffffff !important;
  border: 1px solid #000000 !important;
  color: #000000 !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn.continue-btn:hover {
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.profile-container .profile-item-actions .profile-actions {
  position: absolute;
  right: -20%;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.profile-container .profile-item-actions:hover .profile-actions {
  display: flex;
}

.profile-actions ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.profile-actions ul li {
  text-align: initial;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #31312e;
  margin: 15px 0;
  cursor: pointer;
}

.profile-actions ul li i.fa {
  color: #6b6b6b;
  margin-right: 20px;
  font-size: 14px;
}

.upload-image-modal {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 20%;
  left: 0;
  margin: 45px auto;
  width: 320px;
  min-width: 200px;
  padding: 15px 25px 25px;
  background: #fff;
  transition: box-shadow 2s;
  box-shadow: 0 0 0 1900px hsla(220, 7%, 18%, 0.6),
    0 10px 30px -5px hsla(220, 7%, 18%, 0.6);
  border-radius: 15px;
}

.upload-image-modal .upload-image-container .upload-image-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fafafa;
}

.upload-image-modal .upload-image-container .upload-image-header h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.upload-image-modal .upload-image-container .upload-image-header i {
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.upload-image-modal .upload-image-container .content p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-transform: capitalize;
  color: #a3a3a4;
}

.upload-image-modal .upload-image-container .upload-btn label {
  background: #000000;
  border-radius: 12px;
  width: 100%;
  padding: 21px;
  cursor: pointer;
}

.upload-image-modal .upload-image-container .upload-btn label h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.upload-image-modal h6 a {
  color: #000;
}

.uploaded-image {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(218, 218, 218, 0.2);
  border-radius: 8px;
  margin: 22px 0;
}

.upload-image-modal .uploaded-image img {
  border-radius: 6px;
}

.upload-image-modal .uploaded-image h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #a3a3a4;
  margin-left: 16px;
  margin-bottom: 0;
}

.add-profile-modal .modal-content {
  background: #ffffff;
  border-radius: 15px;
  padding: 22px;
}

.add-profile-modal .modal-content .modal-header {
  border-bottom: none;
}

.profile-container h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
}

.delete-profile {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px 22px;
  margin-right: 14px;
  border-radius: 50px;
  top: 3px;
  right: 0 !important;
  bottom: 0% !important;
  color: #ff0000;
  cursor: pointer;
}

.add-profile-modal .custom-dropdown-input {
  width: 260px;
}

@media (min-width: 600px) {
  .add-profile-modal .modal-dialog {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .add-profile-modal .custom-dropdown-input {
    width: 100%;
  }
}

.zindex-overlay {
  z-index: 1051 !important;
}

.profile-model-dob {
  top: 92%;
}

button .rdrDayNumber span {
  font-weight: 500;
  font-family: "Poppins";
  color: #172b4d;
}

.dob-picker .rdrCalendarWrapper {
  border-radius: 15px;
  font-family: "Poppins";
}

.dob-picker .rdrMonthAndYearPickers select {
  font-weight: 700;
  color: #172b4d;
  font-family: "Poppins";
}

@media (max-width: 991px) {
  .profile-container {
    padding: 60px 0;
  }
}
