.booking-content .position-relative img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.booking-content .position-relative i.fa {
    font-size: 12px;
    background: #fff;
    padding: 4px;
    bottom: -6px;
    right: -15px;
    border-radius: 50%;
    color: #00875A;
}

.booking-list .booking-content h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #172B4D;
    margin: 0;
}

.booking-list .booking-type p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #172B4D;
    margin: 0;
}

@media (max-width: 767px) {
    .booking-list .booking-type p {
        font-size: 12px;
    }
}