.cart-content {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 35px 40px;
}

.cart-content-header {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 25px;
}

.cart-content-header .profile-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.cart-content-header .profile-img i.fa {
    bottom: 0;
    right: -10px;
    background: #fff;
    padding: 3px;
    border-radius: 50%;
    color: #00875A;
    font-size: 10px;
}

.cart-content-header .cart-header-text {
    margin-left: 18px;
}

.cart-content-header .cart-header-text h5 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.cart-header-text h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
    margin: 0;
    text-align: initial;
}

.cart-content .order-details {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 30px;
    padding-bottom: 15px;
}


.cart-content .order-details .order-list h5 span {
    text-decoration-line: line-through;
    color: #2D2D2D;
    opacity: 0.3;
    margin-right: 8px;
}

.cart-content .order-details .order-list .order-title {
    max-width: 125px;
    width: 100%;
}

.cart-content .order-details .order-details-header h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #6B6B6B;
    text-align: initial;
    margin: 0;
}

.cart-content .order-details .order-list h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #2D2D2D;
    margin: 0;
}

.order-total-price {
    text-align: end;
    padding: 15px 0;
}

.order-total-price h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 14px;
    color: #31312E;
    margin: 0;
}

.order-total-price h4 span{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
    margin-bottom: 15px;
    display: block;
}

.card {
    background: #FFFFFF;
    border-radius: 15px !important;
    border: none !important;
    padding: 25px 30px;
    margin: 20px 0;
}

.card .voucher-card input  {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: none;
    outline: none;
    width: 200px;
    padding: 0 16px 0;
}

.card .voucher-card button {
    background: #2D2D2D;
    border-radius: 4px;
    border: 1px solid #2d2d2d;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 5px 10px;
}

.order-details-card .details-header h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #31312E;
}

.order-details-card .details-body h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
}

.order-details-card .details-body h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    text-align: initial;
}

.order-bill-card .details-header h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
    margin-bottom: 20px;
}

.order-bill-card .details-header h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 14px;
    color: #31312E;
    margin-bottom: 30px;
}

.order-bill-card .details-header h3 span {
    font-weight: 400;
}

.order-bill-card .bill-details-body .bill-collapse {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.order-bill-card .bill-details-body .bill-collapse h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #31312E;
}

.order-bill-card .bill-details-body .detail-content h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
}

.order-bill-card .bill-details-body .detail-content h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    text-align: initial;
}

.cancelation-model {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50%;
}

.cancelation-model i.fa {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
    margin-right: 8px;
}

.cancelation-model h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.btn-container .schedultBtn {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 10px;
}

.btn-container .orderBtn {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 15px 22px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order-list .order-quantity .counter {
    background: #2D2D2D;
    border-radius: 2px;
    padding: 4px 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.delete-icon .fa {
    color: #f88;
}

.cancellation-policy-modal .modal-content {
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.05);
    border-radius: 8px !important;
    border: none;
    background: #F8F8F8;
}

.cancellation-policy-modal .modal-header{
    background-color: #fff;
    border: none;
    padding: 20px 25px;
}

.cancellation-policy-modal .modal-header .modal-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}

.cancellation-policy-modal .modal-body {
    padding-left: 25px;
}

.cancellation-policy-modal .modal-body .cancellation-modal-content h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.cancellation-policy-modal .modal-body .cancellation-modal-content p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.cancellation-policy-modal .modal-footer {
    border: none;
    background-color: #fff;
}

.cancellation-policy-modal .modal-footer h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #E55D3C;
    cursor: pointer;
}

.voucher-modal .modal-content {
    padding: 30px;
}

.voucher-modal .modal-content .modal-header {
   border: none;
}

.voucher-modal .modal-content .modal-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.modal-body .voucher-content .voucher-input {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.modal-body .voucher-content .voucher-input h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: initial;
}

.modal-body .voucher-content .voucher-input input {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    width: 72%;
    padding: 15px;
}

.modal-body .voucher-content .voucher-input button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 15px;
    margin-left: 15px;
}

.voucher-modal .modal-dialog {
    max-width: 600px;
}

.voucher-modal .modal-dialog .available-Voucher .voucher-list .voucher-img img.path-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.voucher-modal .modal-dialog .available-Voucher .voucher-details {
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 0 10px 10px 0;
}

.voucher-modal .modal-dialog .available-Voucher .voucher-content h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

.voucher-modal .modal-dialog .available-Voucher .voucher-content h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
    margin: 0;
}

.voucher-modal .modal-dialog .available-Voucher .voucher-text {
    margin-bottom: 12px;
}

.voucher-modal .modal-dialog .available-Voucher .voucher-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #6B6B6B;
    margin: 0;
}

.voucher-modal .modal-dialog .available-Voucher .voucher-date p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #6B6B6B;
    margin: 0;
}

.voucher-modal .modal-dialog .available-Voucher .voucher-date h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    margin: 0;
}

.remove-voucher-modal .modal-dialog {
    max-width: 280px;
}

.remove-voucher-modal .modal-dialog .modal-content .modal-header { 
    border: none;
}

.remove-voucher-modal .modal-dialog .modal-content .modal-header .modal-title { 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}

.remove-voucher-modal .modal-dialog .modal-content .modal-body {
    padding: 0;
}

.remove-voucher-modal .modal-dialog .modal-content .modal-footer {
    border: none;
}

.remove-voucher-modal .modal-dialog .modal-content .modal-footer h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #C1C7D0;
    cursor: pointer;
}

.remove-voucher-modal .modal-dialog .modal-content .modal-footer h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #E55D3C;
    margin-left: 24px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .cart-content {
        padding: 30px 15px;
    }
    .fixed-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        text-align: center;
        padding: 30px;
        z-index: 9;
    }
    .header-right-content i.fa {
        margin: 0 7px;
    }
}

@media (max-width: 799px) {
    .address-dro-width {
        max-width: 400px;
        width: 100%;
        min-width: 350px !important;
    }
}

@media (min-width: 800px) {
    .order-details-card h6 .dropdown-menu.show {
        /* transform: translate(-260px, 26px) !important; */
    }
    .address-dro-width {
        max-width: 400px;
        width: 100%;
        min-width: 400px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card .voucher-card input {
        width: 140px !important;
    }

    .btn-container .schedultBtn {
        padding: 12px;
        margin-right: 5px;
    }

    .btn-container .orderBtn {
        padding: 12px 10px;
    }
}

@media(max-width: 400px) {
    .address-dro-width {
        max-width: 400px;
        width: 100%;
        min-width: 330px !important;
    }
}