.categories-carousel .react-multi-carousel-item {
    width: 190px !important;
    margin-right: 20px;
}

.categories-list {
    margin-right: 20px;
    position: relative;
    width: 190px;
    max-width: 190px;
    min-height: 105px;
    background-color: #000;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 5px 5px #acacac;
    outline: 0 !important;
}

.categories-list.active {
    border: 3px solid #000;
}

.categories-list img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.79%, rgba(0, 0, 0, 0.13) 45.83%, rgba(0, 0, 0, 0.63) 100%);
    border-radius: 15px;
    width: 100%;
    opacity: 0.8;
    height: 100%;
}

.categories-list span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    bottom: 14px;
    left: 17px;
}

.categories-list i{
    right: 8px;
    top: 10px;
    color: #fff;
    font-size: 20px;
}

@media(max-width: 767px) {
    .categories-list {
        max-width: 250px;
        margin-right: 0;
    }
    .slick-slide {
        text-align: center;
    }
}