.order-status span {
    background-color: #ffc043;
    border-radius: 50%;
    font-size: 2px;
    width: 8px;
    height: 8px;
    margin-right: 8px;
}

.order-status h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFC043;
    margin: 0;
}

.order-status.active span {
    background-color: #05944F;
}

.order-status.active h4 {
    color: #05944F;
}

.order-status.cancelled span {
    background-color: #E11900;
}

.order-status.cancelled h4 {
    color: #E11900;
}

.order-status.completed span {
    background-color:  #276EF1;
}

.order-status.completed h4 {
    color: #276EF1;
}

.order-status.scheduled span {
    background-color:  #31312E;
}

.order-status.scheduled h4 {
    color: #31312E;
}

.booking-card-header h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #31312E;
    text-align: initial;
    margin: 0;
}

.booking-card-header .detail-content h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
    margin: 0;
}

.booking-card-header .detail-content h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.booking-cart-items-detail .booking-item-title h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D;
    margin: 0;
}

.booking-cart-items-detail .booking-item-price h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D;
    margin: 0;
}

.booking-cart-serives {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 6px;
    margin-bottom: 25px;
}

.booking-cart-serives:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.booking-action-item {
    cursor: pointer;
}

.booking-action-item i.fa {
    color: #000000;
    font-size: 20px;
}

.booking-action-item h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
    margin: 0;
}

.confirmation-status .confirmation-text h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.confirmation-status img {
    width: 60px;
    height: 60px;
    border: 1.99005px solid #FFFFFF;
    border-radius: 22px;
}

.confirmation-status .confirmation-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6B6B6B;
    margin: 0;
}

.confirmation-time h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

.confirmation-time h6 span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #7A869A;
    display: block;
    margin-bottom: 12px;
}

.confirmation-time h6 i.fa {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.reschedule-booking .reschedule-text {
    background-color: #000;
    padding: 12px;
    border-radius: 22px;
    border: 1.99005px solid #FFFFFF;
}

.reschedule-booking .reschedule-text p {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.reschedule-booking .reschedule-text p i {
    display: block;
}

.booking-card-confirmation.active-booking {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 22px;
    margin-bottom: 22px;
}

.service-otp h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #2D2D2D;
    margin: 0;
}

.service-otp h5:last-child {
    font-weight: 600;
    color: #000;
    cursor: pointer;
}

.confirmation-time .profile-link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #2D2D2D;
    border-radius: 4px;
    padding: 5px 9px;
}

.schedule-time {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #7A869A;
    margin-bottom: 10px;
}

.help-link:hover {
    color: #f2f2f2;
}

.help-link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #2D2D2D;
    border-radius: 4px;
    padding: 5px 9px;
}