.react-tabs__tab-list.preffered-stylist-tabs {
    border: none;
}

.react-tabs__tab-list.preffered-stylist-tabs .react-tabs__tab {
    border-radius: 43px;
    border: 1px solid #f2f2f2;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6B6B6B;;
    padding: 12px 20px;
}

.react-tabs__tab-list.preffered-stylist-tabs .react-tabs__tab.react-tabs__tab--selected {
    border-radius: 43px;
    border: 1px solid #000;
    background: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    padding: 12px 20px;
}

.preferred-stylist .booking-content img {
    border-radius: 50px;
}

.preferred-stylist .booking-content h5 {
    font-size: 16px;
    color: #000;
}

/* .preferred-stylist .booking-type {
    display: flex;
    flex-grow: 0.7;
} */

.blocked-stylist span {
    background-color: #C1C7D0;;
}

@media(max-width: 767px) {
    .react-tabs__tab-list.preffered-stylist-tabs {
        text-align: center;
    }
}