.heading .title h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #31312e;
  margin: 0 10px;
}

.heading .search-title h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
}

.heading .title h6 i {
  color: #27ae60;
  font-size: 8px;
}

.show-all-link a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #6b6b6b;
  text-transform: uppercase;
}

.show-all-link a:hover {
  text-decoration: none;
  color: #000;
}

.active-stylist-carousel .react-multi-carousel-item {
  width: 70px !important;
  margin-right: 35px;
}

.active-stylist i {
  font-size: 10px;
  color: #00875a;
  background: #fff;
  padding: 3px;
  border-radius: 50px;
  top: 45px;
  right: 8px;
}

.active-stylist-carousel .slick-track {
  margin-left: initial !important;
}

.stylist-name h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 31px;
  color: #2d2d2d;
}

.active-stylist img {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .filterButtonSection
    .sortButton
    .dropdownMenu.filterModal.customScroll.dropdown-menu.show {
    transform: translate3d(0px, 223px, 0px) !important;
  }
}
