.reward-section {
    padding: 15px 50px;
    border-right: 1px solid #f2f2f2;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reward-section h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #2D2D2D;
}

.reward-section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #7A869A;
}

.reward-section button {
    background: #000000;
    border-radius: 4px;
    border: 1px solid #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 10px 30px;
}

@media (max-width: 767px) {
    .reward-section {
        padding: 0;
        border: none;
        padding-bottom: 50px;
    }
}