* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.main-container {
  /* background-color: #fbfbfb; */
  margin: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #6b6b6b;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  border: 1px solid #eb5757 !important;
}

.error-message {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #eb5757;
  display: none;
}
.fa {
  /* margin-left: -12px; */
  margin-right: 8px;
}

.errors {
  display: block;
}

.login-container {
  padding: 100px 0;
}

.login-container .title h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.login-container .form-container input,
.phone_number {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #2d2d2d;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 19px 50px;
  margin-top: 70px;
}

.login-container .password-field label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.login-container .password-field {
  margin-top: 70px;
}

.login-container .password-field input {
  margin-top: 0;
}

.login-container .form-container .password-field .right-icon {
  top: 45px;
}

.login-container .form-container .right-icon {
  left: 18px;
  top: 18px;
  font-size: 24px;
  color: #bdbdbd;
}

.login-container h6 a {
  color: #000000;
}

.login-container button:disabled {
  background: #eaeaea;
  border-radius: 50px;
  border: none;
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #bdbdbd;
  margin: 35px 0;
}

.login-container button {
  background: #000;
  border-radius: 50px;
  border: none;
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  margin: 35px 0;
}

.login-container .form-container button i.fa-long-arrow-right {
  font-size: 14px;
  margin-left: 8px;
}

.login-container .showpassword .eye-icon {
  right: 18px;
  top: 50px;
  left: initial;
  color: #200e32;
  cursor: pointer;
}

.screen-overlay.show {
  transition: opacity 0.5s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.screen-overlay {
  width: 0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
}

.show {
  display: block;
}

.login-container .form-container img {
  position: absolute;
  right: 20px;
  bottom: 22px;
}

/* Breadcrumb css */

nav .breadcrumb {
  background: transparent;
  padding: 1rem 0;
  margin: 0;
}

nav .breadcrumb .breadcrumb-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

nav .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  padding-right: 0.5rem;
  color: #000000;
  content: "\f105";
  font-size: 14px;
  font-weight: 900;
  font-family: "FontAwesome";
}

nav .breadcrumb .breadcrumb-item a {
  color: #6b6b6b;
}

/* tabs css */
.stylist-tabs.react-tabs__tab-list {
  /* position: absolute; */
  /* right: 0; */
  /* top: -60px; */
  border-bottom: none;
  background: #f2f2f2;
  border-radius: 68px;
  margin-bottom: 0;
}

.stylist-tabs .react-tabs__tab {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 23px;
  text-align: center;
}

.stylist-tabs .react-tabs__tab--selected {
  background: #000000;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 10px;
  border: 1px solid #000;
}

.customScroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

@media (max-width: 767px) {
  /* .typeFilteration {
    width: 169px;
  } */
  .filterButtonSection .sortButton .filter-span {
    display: none;
  }
  .filterButtonSection {
    margin-top: 17px;
    width: 100%;
    justify-content: space-between !important;
  }
  .profile-container .profile-list .profile-item .profile-item-name h6 {
    font-size: 11px;
  }
  .profile-container .profile-list .profile-item .profile-item-name h5 {
    font-size: 12px;
  }
  .profile-container .profile-selection span {
    padding: 8px 8px;
    font-size: 10px;
  }
  .profile-container .profile-item-actions .profile-actions {
    right: 0;
  }
  .stylist-tabs.react-tabs__tab-list {
    position: initial;
    margin-bottom: 0;
  }
  .stylist-tabs .react-tabs__tab {
    /* width: 50%; */
    white-space: nowrap;
    padding: 10px 1.3rem 10px 1.3rem;
  }
  nav .breadcrumb .breadcrumb-item {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .profile-container .profile-list .profile-item .profile-item-name h6 {
    font-size: 9px;
  }
  .profile-container .profile-list .profile-item .profile-item-name h5 {
    font-size: 10px;
  }
  .profile-container .profile-selection span {
    padding: 5px;
  }
}

.user-edit-profile .profile-container {
  padding: 0;
}

.booking-completed button {
  background: rgba(0, 135, 90, 0.8);
  border-color: rgba(0, 135, 90, 0.8);
}

.reload-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.booking-content .reload-overlay i.fa-refresh {
  position: relative;
  top: 12px;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.rdrDateInput.rdrDateDisplayItem.rdrDateDisplayItemActive {
  border-color: #000;
}

.rdrDay,
.rdrDay .rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  color: #000 !important;
}

.rdrDayHovered .rdrDayStartPreview,
.rdrDayEndPreview,
.rdrDayInPreview {
  color: #000 !important;
}
.rdrDayStartPreview {
  color: #000 !important;
}
.rdrDayToday .rdrDayNumber span:after {
  background: #000 !important;
}

nav .breadcrumb {
  padding: 0 0 2rem 0;
}

.booking-list .booking-content {
  width: 42%;
}

.booking-list .booking-content .booking-date h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  color: #7a869a;
  margin: 0;
}

@media (max-width: 767px) {
  .login-container {
    padding: 60px 0;
  }
  .booking-list .booking-content {
    width: 100%;
  }
  .booking-list .booking-content .booking-date h6 {
    font-size: 10px;
  }

  nav .breadcrumb {
    padding: 2rem 0;
  }
}
