.safety-banner .safety-image img {
    width: 100%;
    height: 92px;
    border-radius: 15px;
}

.safety-banner .safety-content {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.safety-banner .safety-content p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.safety-banner .safety-content i {
    font-size: 16px;
    line-height: 24px;
    z-index: 999;
    color: #FFFFFF;
}

.banner-card-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -130px;
    margin: 0 30px;
}

.banner-card-content .banner-card {
    background: #FFFFFF;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    width: 46%;
    padding: 30px;
}

.banner-card-content .banner-card h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #2D2D2D;
}

.banner-card-content .banner-card h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(122, 134, 154, 0.6);
    text-align: initial;
}

.banner-card-content .banner-card p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #7A869A;
}

.discount-card .discount-card-header h5 {
    background: #2D2D2D;
    border-radius: 6px 6px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 6px 12px;
    color: #FFFFFF;
}

.discount-card-body h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    color: #2D2D2D;
}

.discount-card-body {
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    padding: 12px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.discount-card-body span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: line-through;
    color: rgba(122, 134, 154, 0.5);
    margin: 0 10px;
}

.service-details-customer-section {
    padding-top: 180px;
}

.carousel .banner-img img {
    border-radius: 15px;
}

.slick-arrow.slick-prev {
    left: 30px !important;
    z-index: 999;
}

.slick-arrow.slick-prev:before {
    content: '\f053' !important;
    font-family: 'FontAwesome';
    font-weight: 900;
    color: #fff;
    font-size: 30px;
    opacity: 1;
}

.slick-arrow.slick-next {
    right: 30px !important;
    z-index: 999;
}

.slick-arrow.slick-next:before {
    content: '\f054' !important;
    font-family: 'FontAwesome';
    font-weight: 900;
    color: #fff;
    font-size: 30px;
    opacity: 1;
}

@media(max-width: 767px) {
    /* .carousel-banner {
        margin: 0 -15px;
    } */
    .carousel .slide .banner-img {
        height: 220px;
        width: 100%;
    }
    /* .carousel .slide .banner-img img {
        height: 100%;
        width: 100%;
        border-radius: 0;
    } */
    .banner-card-content {
        position: initial;
        display: block;
    }
    .banner-card-content .banner-card {
        width: 100%;
        margin-top: 25px;
    }
    .discount-card {
        width: 35%;
        margin: auto;
        position: absolute;
        top: 55px;
        right: 15px;
    }
    .service-details-customer-section {
        padding-top: 50px;
    }
    .banner-card-content {
        margin: 0;
    }
    .slick-dots {
        text-align: left !important;
    }
    
}
.slick-dots li {
    margin: 0 !important;
}

@media(min-width: 768px) and (max-width: 991px) {
    .banner-card-content {
        bottom: -210px;
    }
    .service-details-customer-section {
        padding-top: 240px;
    }
}
