.detail-stylist-tabs {
  border-bottom: 1px solid #e0e0e0;
}

.react-tabs__tab.detail-stylist-tab {
  color: #bdbdbd;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.detail-stylist-tab.react-tabs__tab--selected {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d;
  border: none;
  background: transparent;
  border-bottom: 3px solid #000;
  border-radius: 0;
  /* padding: 10px 35px;/ */
}

.custom-col .portfolio {
  margin-top: 40px;
}

.custom-col .portfolio img {
  border-radius: 15px;
  box-shadow: 0 10px 5px 0px #ccc;
}

.review-score h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.2px;
  color: #2d2d2d;
}

.review-score h4 span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #6b6b6b;
  line-height: 15px;
}
.review-heading h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #6b6b6b;
  text-align: initial;
  margin-top: 12px;
}

.stylist-detail-container .banner-container {
  padding-bottom: 120px;
}

.stylist-detail-container .banner-container .banner-img img {
  background: linear-gradient(
    266.43deg,
    rgba(0, 0, 0, 0.27) 7.16%,
    rgba(0, 0, 0, 0.31) 7.17%,
    rgba(0, 0, 0, 0) 100%
  );
  mix-blend-mode: normal;
  border-radius: 15px;
  width: 100%;
}

.stylist-detail-container .stylist-detail h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 12px;
}

.stylist-detail-container .stylist-detail h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #000000;
  text-align: inherit;
}

.stylist-detail-container .stylist-detail {
  border-right: 1px solid #eaeaea;
}

.stylist-detail-container .stylist-skills {
  margin-left: 48px;
}

.stylist-detail-container .stylist-skills h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
  margin-left: 6px;
  margin-bottom: 12px;
}

.stylist-detail-container .stylist-skills span.badge {
  background: #f4f5f7;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #6b6b6b;
  padding: 4px 12px;
  text-transform: capitalize;
  margin: 6px;
}

.stylist-detail-text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #6b6b6b;
}

.row.profile-details-container {
  position: relative;
  width: 90%;
  margin: auto;
}

.profile-details-container .stylist-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -220px;
  z-index: 999;
}

.profile-details-container .stylist-detail-header .stylist-profile-image img {
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: #fff;
  border-radius: 112px;
  box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.1);
}

.profile-details-container .stylist-detail-header .stylist-fav-icon .fa {
  color: #eb5757;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.profile-details-container
  .stylist-detail-header
  .stylist-fav-icon
  .fav-stylist {
  color: #eb5757;
}

.profile-details-container
  .stylist-detail-header
  .stylist-fav-icon
  .unfav-stylist {
  color: #6e6464;
}

.stylist-profile-image i.fa {
  font-size: 20px;
  color: #00875a;
  background: #fff;
  padding: 5px;
  border-radius: 50px;
  bottom: 36px;
  right: -6px;
}

.service-cart-modal {
  background: #000000;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 10%;
  width: 100%;
  left: 0;
  padding: 25px;
  right: 0;
  z-index: 999;
}

.service-cart-modal .stylist-profile-image img {
  width: 50px;
  border-radius: 50%;
}

.service-cart-modal .stylist-profile-image i.fa {
  font-size: 10px;
  color: #00875a;
  background: #fff;
  padding: 3px;
  border-radius: 50px;
  top: 28px;
  right: -10px;
  bottom: initial;
}

.stylist-fav-icon .quantity-box h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 45px;
}

.stylist-fav-icon a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000;
  margin: 0;
  padding: 10px 40px;
  border: 1px solid #fff;
  border-radius: 45px;
  background: #fff;
}

.stylist-detail-modal h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.stylist-detail-modal h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
}

.filter-service {
  position: absolute;
  right: 0;
  top: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: #6b6b6b;
  text-transform: capitalize;
}

.filter-service img {
  cursor: pointer;
}

@media (max-width: 767px) {
  .stylist-detail-container .banner-container {
    padding-bottom: 80px;
  }
  .profile-details-container .stylist-detail-header {
    top: -130px;
  }
  .profile-details-container .stylist-detail-header .stylist-profile-image img {
    width: 100px;
    height: 100px;
  }
  .stylist-detail-container .stylist-detail {
    border: none;
  }
  .stylist-detail-container .stylist-skills {
    margin: 15px 0;
  }
  .row.profile-details-container {
    width: 100%;
  }
  .react-tabs__tab.detail-stylist-tab {
    padding: 12px;
  }
  .filter-service {
    position: initial;
  }
  .stylist-detail-container .stylist-skills h5 {
    margin-left: 0;
  }
  .custom-col .portfolio img {
    width: 180px;
  }
  .col.custom-col {
    max-width: 50%;
  }
  .stylist-profile-image i.fa {
    font-size: 12px;
    /* color: #00875a; */
    background: #fff;
    padding: 3px;
    border-radius: 50px;
    bottom: 18px;
    right: -6px;
  }
  .stylist-profile-image .online-stylist {
    color: #00875a;
  }
  .stylist-profile-image .offline-stylist {
    color: #e9930f;
  }
  .custom-col .portfolio {
    text-align: center;
  }
  .stylist-detail-container .stylist-skills span.badge {
    margin: 3px;
  }
}

@media (max-width: 400px) {
  .custom-col .portfolio img {
    width: 160px;
  }
}
