.rccs__card--mastercard .rccs__card__background {
  background: linear-gradient(
    346deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(56, 56, 56, 1) 50%,
    rgba(0, 0, 0, 1) 66%
  );
}

.payment-carousel ul li:first-child {
  width: 290px !important;
  margin: 0 24px 0 0;
  z-index: 99999;
}

.payment-carousel ul li {
  margin: 0 24px;
  width: 150px !important;
  z-index: 9999;
}

.payment-carousel ul li:last-child {
  z-index: 999;
}

.payment-carousel ul li img.card-bg-img {
  height: 180px;
  width: 100%;
}

.latest-transactions h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #31312e;
  margin: 0px;
}

.transaction-list .booking-content i.fa-check {
  color: #54ac81;
  background: #ecf8f2;
  border-radius: 6px;
  padding: 15px;
}

.transaction-list .booking-content .fa-times {
  color: #de350b;
  background: #ffebe5;
  border-radius: 6px;
  padding: 15px;
}

.order-amount.failed span {
  color: #de350b;
}

.transaction-list .booking-content h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #31312e;
  margin: 0;
}

.service-type p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  color: #31312e;
  margin: 0;
}

.transaction-date h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #bdbdbd;
  margin: 0;
}

.order-amount span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00875a;
}

.transactions-day h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(122, 134, 154, 0.5);
  margin: 0;
  text-align: initial;
}

.latest-transactions .filteration p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  color: #6b6b6b;
}

.e-wallet-container .e-wallet-credits h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #6b6b6b;
  text-align: initial;
}

.e-wallet-container .e-wallet-credits h4 span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.e-wallet-container .e-wallet-credits button {
  width: 80%;
  border: 1px solid #000;
  background: #000;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 30px;
}

.rccs__card .rccs__card--front {
  color: #fff;
}

.card-holder-details {
  position: absolute;
  top: 0;
  padding: 10px 20px;
  width: 100%;
}

.card-holder-details .card-detail h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.54;
  margin-top: 12px;
}

.card-holder-details .card-detail p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 0.9;
  margin: 16px 0;
}

.card-holder-details .card-date span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.card-drop-down {
  right: 32px;
  top: 50%;
  z-index: 9999;
  transform: translate(0px, -50%);
}

.card-drop-down i.fa-ellipsis-h {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  color: #000;
}

.card-drop-item h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #31312e;
  margin: 0;
  cursor: pointer;
}

.card-drop-item:last-child {
  margin-bottom: 0;
}

.card-drop-item {
  margin-bottom: 25px;
}

.card-drop-item h5 i.fa {
  color: #6b6b6b;
  font-size: 16px;
  margin-right: 12px;
  cursor: pointer;
}

.card-drop-down .dropdown-menu.show {
  padding: 30px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border: none;
  min-width: 12rem;
}

.card-modal-container .form-group input {
  padding-left: 45px;
}

.card-modal-container .form-group i.fa {
  bottom: 22px;
  left: 20px;
  opacity: 0.4;
}

.latest-transactions .card-drop-down {
  z-index: 999;
}

.latest-transactions .card-drop-down .fa {
  box-shadow: none;
  background: transparent;
  opacity: 0.4;
  padding: 0;
}

.filter-calendar {
  position: absolute;
  right: 0;
  height: 300px;
  overflow: auto;
}

.default-card {
  background: #fff;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  top: 25px;
  padding: 2px 5px 1px;
  border-radius: 50px;
  left: 25px;
  margin: 0;
}

.rccs--filled {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.slick-slide .slider-banner-img {
  margin-right: 45px;
}

.default-card i {
  font-size: 18px;
}

.credit-card-details {
  top: 20px;
}

.card-holder-name h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-align: initial;
  opacity: 0.54;
  padding: 12px 30px 0;
}

.card-holder-name h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 0 30px;
}

.card-holder-name h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 0.9;
  padding: 20px 30px 0;
}

.card-detail-slider .slick-list {
  overflow-x: clip;
  overflow-y: initial;
  -webkit-overflow-scrolling: clip;
}

.signin-container .form-container img.card-form {
  right: initial;
  bottom: 18px;
  left: 20px;
}

@media (max-width: 767px) {
  #wrapper.toggled #sidebar-wrapper {
    width: 50%;
  }
  .e-wallet-credits {
    margin-bottom: 50px;
  }
  .payment-carousel ul li:first-child {
    width: 384px !important;
  }
  .order-amount {
    width: 25%;
  }
}
