.stylist-card {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  padding: 18px;
  border: 1px solid #fff;
}

.stylist-card:hover {
  border-color: #000;
}

.stylist-card .stylist-content h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #2d2d2d;
  text-align: initial;
  margin: 0;
}

.stylist-card .stylist-image img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.imagePlaceholder{
  height: 60px;
  width: 60px;
  background-size: cover;
  background-image: url('../../../assets/images/userAvatar.png');
}

.stylist-card .stylist-image i.fa-circle {
  font-size: 10px;
  color: #00875a;
  background: #fff;
  padding: 3px;
  border-radius: 50px;
  top: 45px;
  right: -6px;
}

.stylist-card .stylist-rating h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: -0.253731px;
  color: #2d2d2d;
  text-align: initial;
}

.stylist-card .stylist-rating {
  width: 175px;
}

.stylist-card .stylist-rating h6 span {
  color: #6b6b6b;
}

.stylist-card .stylist-distance {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: end;
  letter-spacing: -0.253731px;
  color: #7a869a;
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-grow: 1;
}

.stylist-card .stylist-distance i {
  font-size: 15px;
  text-align: center;
}

.stylist-card .stylist-distance span {
  margin-top: 8px;
}

@media (min-width: 767px) and (max-width: 991px) {
  .stylist-card .stylist-rating {
    width: 155px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .stylist-card .stylist-rating {
    width: auto;
  }
}
