.no-service-container .content {
    padding: 50px;
}

.no-service-container .content h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #31312E;
}

.no-service-container .content h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #6B6B6B;
    margin-bottom: 55px;
}

.no-service-container .content a {    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    padding: 15px 30px;
}