.sc-bdvvaa {
    width: 32px !important;
    height: 32px !important;
    margin: 0 24px;
}

.sc-bdvvaa:before {
    font-family: 'FontAwesome' !important;
}

.sc-bdvvaa:after {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 0;
    color: #31312E !important;
    margin-top: 15px;
}

.custom-steps > div:first-child > div:nth-child(1) {
    width: 40%;
    margin: 50px auto;
  }

  @media (max-width: 767px) {
    .custom-steps > div:first-child > div:nth-child(1) {
        width: 100%;
    }
  }

  @media(min-width: 768px) and (max-width: 991px) {
    .custom-steps > div:first-child > div:nth-child(1) {
        width: 75%;
    }
  }