header ul.navbar-nav li a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #000000 !important;
    opacity: 0.5;
    margin: 0 10px;
}

header .btn-container a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
    padding: 19px 38px;
    border: 1px solid #000;
    border-radius: 50px;
    text-decoration: none;
}

header .btn-container a:hover {
    background-color: #000;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    opacity: 1;
}

@media (max-width: 991px){
    .mobile-offcanvas.show {
        visibility: visible;
        transform: translateX(0);
    }
}

@media (max-width: 991px){
    .mobile-offcanvas {
        visibility: hidden;
        transform: translateX(-100%);
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1200;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        display: block !important;
        background-color: #fff;
    }
    header ul li.nav-item {
        width: 100%;
    }
    header ul li.nav-item a {
        justify-content: center;
        border-bottom: 1px solid #bdbdbd;
        padding: 10px;
        margin: 0;
    }
    header nav .btn-container a {
        padding: 12px 30px;
        text-decoration: none;
        max-width: 250px;
        margin: 15px auto;
    }
}