.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2d2d2d;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2d2d2d;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .fav-stylist-header h5 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #31312E;
  }

  .fav-stylist-list p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #6B6B6B;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 0 25px 0;
    margin-bottom: 25px;
  }

  .active-stylist-carousel.fav-stylist-carousel .react-multi-carousel-item {
      margin-right: 28px;
  }

  .active-stylist i.fav-icon-active {
    right: -2px;
  }

  @media(min-width: 768px) and (max-width: 991px) {
    .card .voucher-card input {
      width: 80%;
    }
    .order-bill-card .btn-container {
      text-align: center;
    }
  }

  @media(max-width: 767px){
    .card .voucher-card input {
      width: 65%;
    }
    .btn-container .orderBtn {
      padding: 12px 18px;
    }
    .btn-container .schedultBtn {
      padding: 12px 20px;
    }

  }

  @media (max-width: 400px) {
    .modal-body .voucher-content .voucher-input input {
      width: 50%;
      padding: 10px;
    }
    .modal-body .voucher-content .voucher-input button {
      padding: 10px;
    }
    .voucher-modal .modal-dialog .available-Voucher .voucher-details {
      padding: 5px 10px;
    }
    .modal-body .voucher-content .voucher-list .voucher-img img:first-child {
      width: 100%;
    }
    .voucher-modal .modal-dialog .available-Voucher .voucher-content h5 {
      font-size: 14px;
    }
    .voucher-modal .modal-dialog .available-Voucher .voucher-text p {
      font-size: 10px;
    }
    .voucher-modal .modal-dialog .available-Voucher .voucher-date p {
      font-size: 8px;
    }
    .voucher-modal .modal-content {
      padding: 10px;
    }
  }

  @media(min-width: 401px) and (max-width: 767px) {
    .modal-body .voucher-content .voucher-input input {
      width: 60%;padding: 10px;
    }
    .modal-body .voucher-content .voucher-input button {
      padding: 10px;
    }

    .voucher-modal .modal-dialog .available-Voucher .voucher-details {
      padding: 7px;
    }
    .modal-body .voucher-content .voucher-list .voucher-img img:first-child {
      width: 100%;
    }
  }