.back-btn span {
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

/* .back-btn span:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
} */

.back-btn > a:hover {
  color: #fff !important;
  background-color: #000;
  text-decoration: none;
}
.form-control.address-input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #172b4d;
  width: 100%;
  background: #ffffff !important;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 19px 19px 19px 45px;
  height: auto;
  box-shadow: none;
  outline: none;
  box-shadow: none;
}

.form-control.address-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #e0e0e0;
  color: #172b4d;
}

.save-location-btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
  border-radius: 8px;
  border: none;
  padding: 20px 30px;
}

.save-location-btn:hover {
  background-color: #31312e;
  border-color: #31312e;
}

.map-container {
  position: relative;
}

.googleMapMarker {
  position: absolute;
}

.map-container .address-type {
  text-align: center;
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -5%) !important;
}

.map-container .address-type button {
  background: #ffffff;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  padding: 9px 30px;
  margin: 0 10px;
  text-transform: capitalize;
}

.map-container .address-type button:hover {
  background-color: #31312e;
  border-color: #31312e;
  color: #fff;
}

.map-container .address-type button.active {
  background: #000000;
  color: #ffffff;
}

.address-input-container i.fa {
  position: absolute;
  top: 22px;
  left: 20px;
  color: #bfbfbf;
}

.address-input-container .nav-icon {
  position: absolute;
  top: 22px;
  left: 20px;
  color: #bfbfbf;
}

.address-input-container i.fa-check {
  right: 20px;
  left: initial;
  color: #00875a;
}

.gps-button {
  position: absolute;
  z-index: 999;
  top: 4%;
  right: 4%;
}

.gps-button button {
  border-radius: 4px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 4px 10px;
}

.gps-button .gps-on button {
  background: rgba(0, 135, 90, 0.8);
}

.gps-button .gps-off button {
  background: rgba(251, 109, 58, 0.8);
}

.locateme-button {
  position: absolute;
  right: 5%;
  z-index: 999;
  bottom: 5%;
}

.locateme-button button {
  background: #000000;
  border-radius: 8px;
  border: 1px solid #000000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 35px;
}

.locateme-button button:hover {
  background-color: #31312e;
  border-color: #31312e;
}

.locationPermissionModal {
  z-index: 99999 !important;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #172b4d;
  margin: 0;
}

@media (max-width: 767px) {
  .map-container .address-type button {
    margin: 10px;
  }
}
