#wrapper {
  overflow-x: hidden;
}

.profile-sidebar {
  background: #ffffff;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 30px;
  margin: 30px 0;
}

#sidebar-wrapper .list-group h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #6b6b6b;
  text-align: initial;
  margin: 0;
  padding-left: 40px;
}

#sidebar-wrapper .list-group a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #6b6b6b;
  margin: 20px 5px;
  padding-left: 40px;
}

#sidebar-wrapper .list-group i {
  font-size: 14px;
  width: 14px;
}

#sidebar-wrapper .list-group a:hover {
  color: #000;
  text-decoration: none;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media (max-width: 991px) {
  .profile-sidebar {
    position: absolute;
    top: 19%;
    bottom: 0;
    z-index: 99;
  }
  #sidebar-wrapper {
    margin-left: 0;
    min-width: 100%;
    z-index: 9999;
    height: 120%;
    overflow: scroll;
    min-height: auto;
  }
  #sidebar-wrapper .list-group {
    margin: 20px 0;
    padding-bottom: 20px;
  }
  .activeBar .side-line {
    left: -5px !important;
  }
}

@media (min-width: 991px) {
  #sidebar-wrapper {
    margin-left: 0;
    min-width: 260px;
    width: 100%;
  }
}

.side-line {
  background: #000;
  width: 4px;
  height: 26px;
  position: absolute;
  left: 0;
  border-radius: 0px 7.5px 7.5px 0px;
  top: -5px;
  display: none;
}

#sidebar-wrapper .list-group a:hover .side-line {
  display: block;
}

#sidebar-wrapper .list-group .activeBar {
  color: #000;
  text-decoration: none;
}

.activeBar .side-line {
  background: #000;
  width: 4px;
  height: 26px;
  position: absolute;
  left: 0;
  border-radius: 0px 7.5px 7.5px 0px;
  top: -5px;
  display: block;
}

#sidebar-wrapper .list-group:last-child {
  border: none;
}

@media (max-width: 991px) {
  #sidebar-wrapper .list-group a {
    margin: 12px 5px;
  }
  #sidebar-wrapper .list-group.reward-list {
    padding-bottom: 12px;
  }
}

@media (max-width: 767px) {
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -35rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -50rem;
  }
  .profile-sidebar {
    top: 20%;
  }
}

/* @media(max-width: 400px) {
  .profile-sidebar {
    top: 25%;
  }
} */
