footer {
    background-color: #000000;
}

.footer-bg {
    background-image: url('/src/assets/images/footer-bg.png');
    padding: 100px 0;
}

.footer-bg .heading h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-bg .heading p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
}

.footer-bg h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.155556px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.footer-bg p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
}

.footer-bg h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
}

.footer-bg ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

.divider {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    min-height: 1px;
    margin: 80px 0;
}

.social-icons .social-icon-list li i.fa {
    font-size: 21px;
    opacity: 0.35;
    cursor: pointer;
}

.social-icons .social-icon-list li:hover i.fa {
    opacity: 1;
}

@media (max-width: 991px) {
    footer .img-container img {
        width: 100%;
    }
    .footer-bg {
        padding: 50px 0;
    }
    .divider {
        margin: 40px 0;
    }
    .footer-bg .heading h2, .footer-bg h4 {
        font-size: 24px;
    }
}