.rating-header .rating-img .rating-stylish {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rating-header .rating-img .rating-stylish h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.rating-header .rating-img .rating-stylish p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.rating-stylist-img img{
    border: 2px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 22px;
    background-color: #fff;
}

.rating-content-header h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
    text-align: center;
    margin: 15px 0;
}

.rating-content-header p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    color: #7A869A;
}

.rating-content-header .tip-content {
    max-width: 360px;
    margin: auto;
}

.rating-content-header .tip-content h6 {
    text-align: initial;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    color: #2D2D2D;
}

.rating-content-header .custom-tip input {
    background: #FFFFFF;
    border: 1px solid #F4F5F7;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    padding: 12px;
}

.custom-tip .fa-usd.whiteIcon {
    color: #fff;
}

.rating-content-header .custom-tip input.blackbginput {
    background-color: #000;
    color: #fff;
}

.rating-content-header button {
    background: #000000;
    border-radius: 50px;
    border: 1px solid #000;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px;
}

.tip-price .list-unstyled li {
    background: #FFFFFF;
    border: 1px solid #F4F5F7;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #7A869A;
    padding: 7px 30px;
    cursor: pointer;
}

.tip-price .list-unstyled li:hover {
    border: 1px solid #000000;
    color: #000000;
}

.dv-star-rating {
    width: 100%;
    display: flex !important;
    justify-content: center;
    flex-direction: row-reverse;
}

.dv-star-rating i {
    font-size: 35px;
    color: #FF991F;
    margin: 0 5px;
}

.rating-content-header textarea {
    max-width: 360px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f4f5f7;
    padding-right: 30px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #7A869A;
}

.custom-tip .fa-usd {
    top: 18px;
    right: 15px;
    color: #7A869A;
    font-size: 15px;
}

.experience-text-length {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #7A869A;
    top: 50%;
    right: 0;
    transform: translate(0px, -50%);
}

.rating-content-header .custom-tip input:focus {
    background-color: #000;
    color: #fff;
}

@media (max-width: 480px) {
    .rating-header .rating-img img.black-bg {
        height: 180px;
    }
}