.stylist-image-skeleton{
    height: 60px;
    width: 60px;
    flex: 0 0 auto;
}

.stylist-status-icon-skeleton {
    right: 0;
    bottom: 0;
    z-index: 3;
}

.stylist-status-icon-skeleton::after{
    
}

.react-loading-skeleton{
    height: 100%;
    width: 100%;
}

.stylist-rating-skeleton{
    display: flex;
}

.stylist-ratingStar-skeleton{
    width: 20%;
}