.signin-container .form-container input.error {
  border: 1px solid #eb5757;
}

.signin-container {
  padding: 100px 0;
}

.signin-container .title h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.signin-container .form-container i.fa-check {
  right: 25px;
  top: 60%;
}

.signin-container .form-container input.form-control {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #2d2d2d !important;
  width: 100%;
  background: #ffffff !important;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 19px;
  height: auto;
  box-shadow: none;
}

.signin-container .form-container input.form-control:focus {
  border: 1px solid #000;
}

.signin-container {
  margin-bottom: 70px;
}

.signin-container .form-container {
  margin-top: 70px;
}

.signin-container label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.signin-container h6 a {
  color: #000000;
}

.signin-container button.btn:disabled {
  background: #eaeaea;
  border-radius: 50px;
  border: none;
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #bdbdbd;
  margin: 25px 0;
}

.signin-container button.btn {
  background: #000;
  border-radius: 50px;
  border: none;
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  margin: 25px 0;
  border: 1px solid #000;
}

.signin-container button.btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.signin-container button.btn:focus {
  outline: none;
  box-shadow: none !important;
}

.signin-container button.btn:active {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
}

.signin-container .showpassword i.fa {
  right: 18px;
  left: initial;
  color: #200e32;
  cursor: pointer;
  font-size: 20px;
  bottom: 20px;
}

.signin-container .form-container select {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #2d2d2d !important;
  width: 100%;
  background: #ffffff !important;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 19px;
  height: auto;
  box-shadow: none;
}

.signin-container .form-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.select-gender .calendar-icon {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.select-gender .fa {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.modal-container .modal-header {
  justify-content: center;
  border: none;
}

.modal-container .modal-header img {
  margin-top: -80px;
}

.modal-container .content h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #172b4d;
}

.modal-container .content p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #7a869a;
  width: 75%;
  margin: auto;
}

.modal-container .content a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.custom-dropdown-input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #2d2d2d !important;
  background: #ffffff !important;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  height: auto;
  box-shadow: none;
  width: 270px;
  margin-top: 20px;
  text-align: start;
  cursor: pointer;
}

.dob-picker {
  z-index: 999999;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -120%);
}

.rdrDay .rdrSelected {
  color: #000 !important;
}

.calender-close {
  text-align: center;
  margin-top: 25px;
}

.calender-close .fa-times {
  background: #fff;
  font-size: 20px;
  padding: 5px 8px;
  border-radius: 50%;
  color: #cecfd2;
  cursor: pointer;
}

.signin-container .form-container .right-icon {
  left: 18px;
  top: 18px;
  font-size: 24px;
  color: #bdbdbd;
}

.signin-container .form-container img {
  position: absolute;
  right: 20px;
  bottom: 22px;
}

.dob-picker .rdrDayNumber {
  top: 6px !important;
  bottom: 6px !important;
  left: 1px !important;
  right: 1px !important;
}

.dob-picker .rdrSelected {
  top: 3px !important;
  bottom: 3px !important;
  left: 1px !important;
  right: 1px !important;
}

#phoneNumber {
  opacity: 0.5;
}

.signin-container .password_strength_bar {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .custom-dropdown-input {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .signin-container {
    margin: 0;
    padding: 60px 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .custom-dropdown-input {
    width: 225px;
  }
}
