.mapContainer {
  height: 700px;
  margin-bottom: 70px;
}

.googleMapMarker {
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: grab;
}

.googleMapMarker > img {
  width: 100%;
  height: auto;
}

/* body {
  background: skyblue;
  -webkit-perspective: 0px;
} */
.rim1,
.rim2,
.rim3 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 0em;
  height: 0em;
  border: black 1px solid;
  background: transparent;
}
.rim1 {
  animation: expand 2s linear infinite;
  -webkit-animation: expand 2s linear infinite;
}
.rim2 {
  -webkit-animation: expand 2s linear 0.5s infinite;
  animation: expand 2s linear 0.5s infinite;
}
.rim3 {
  -webkit-animation: expand 2s linear 1s infinite;
  animation: expand 2s linear 1s infinite;
}

@-webkit-keyframes expand {
  0% {
    top: calc(50% - 0.25em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: black 2px solid;
    opacity: 1;
  }
  100% {
    top: calc(50% - 4.5em);
    left: calc(50% - 5.5em);
    width: 11em;
    height: 11em;
    border: white 4px solid;
    opacity: 0;
  }
}

@keyframes expand {
  0% {
    top: calc(50% - 0em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: black 1.5px solid;
    opacity: 1;
  }
  100% {
    top: calc(50% - 4.5em);
    left: calc(50% - 5.5em);
    width: 11em;
    height: 11em;
    border: white 3px solid;
    opacity: 0;
  }
}
