/* .location-bar .location-dropdown {
    position: absolute;
    top: 40px;
    padding: 25px;
    z-index: 9999;
    background: #FFFFFF;
    border-radius: 15px;
   width: 400px;
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1); 
} */



.dropdown-menu.show {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    inset: 0 0 auto auto;
}

.modalCloseButton{
    top: 0;
    right: 0;
}

.selected-address-text{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.location-items{
    height: 260px;
    overflow: auto;
}

.location-items .location-item {
    border: 1px solid #F4F5F7;
    border-radius: 6px;
    display: flex;
    padding: 15px;
    align-items: baseline;
}

.location-items .location-item.active{
    border: 1px solid #2D2D2D;
}

.location-items .location-item h6 i {
    font-size: 14px;
    color: #000;
    margin-top: 5px;
}

.location-items .location-item h6 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #7A869A;
    margin: 0;
    text-align: initial;
}

.location-address{
    width: 100%;
}

.location-active-button {
    margin: 0 3rem 0 auto;
}

.location-address h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #172B4D;
    margin: 0;
}

.location-dropdown-header .location-img img {
    background: #F4F5F7;
    border-radius: 15px;
    padding: 25px;
}

.location-dropdown-header .location-text h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #172B4D;
}

.badge.location-badge {
    background: rgba(0, 135, 90, 0.5);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 10px;
}

.location-new-address {
    background: #F4F5F7;
    border-radius: 6px;
    border: 1px solid #f4f5f7;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #172B4D;
    width: 100%;
    padding: 15px;
}

.location-bar h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.location-bar span {
    font-weight: 400;
    color: #6B6B6B;
}

.location-bar {
    border-left: 1px solid #EAEAEA;
}

.cart-header-title h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #2D2D2D;
    border-left: 1px solid #EAEAEA;
    padding: 0 25px;
}

.header-right-content {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.header-right-content .search-bar {
    border-right: 1px solid #EAEAEA;
    margin-right: 10px;
    padding-right: 14px;
}

.header-right-content .search-bar input {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: none;
    line-height: 20px;
    width: 130px;
    outline: none;
}

.header-right-content .search-bar .cancelIcon{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.header-right-content .header-icon {
    color: #6B6B6B;
    font-size: 15px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 1;
}

.profile-img-container img.p-img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.serviceContainer{
    max-height: 530px;
    overflow-y: auto;
}

.notification-dropdown .fav-card {
    background: #FFFFFF;
    border: 1.22694px solid #F2F2F2;
    box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    padding: 16px;
    margin: 25px 0 0;
}

.notification-dropdown .fav-card .d-flex .d-flex img {
    min-width: 70px;
    height: 70px;
    border-radius: 10.738px;
}

.notification-dropdown .fav-style-details h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    color: #000000;
    margin: 0;
}

.notification-dropdown .fav-style-details h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #6B6B6B;
    margin: 0;
}

.notification-dropdown .fav-style-details h6 span {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: -0.245388px;
    color: #000000;
}

.notification-dropdown .fav-style-details h6 span i.fa {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: -0.245388px;
    color: #000000;
    margin: 0;
}

.notification-dropdown .fav-icon-action i.fa {
    color: #EB5757;
}

.notification-dropdown .fav-icon-action{
    height: 17px;
    width: 17px;
}

.notification-dropdown .notification-list p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(122, 134, 154, 0.5);
    margin: 16px 0 0;
}

.notification-dropdown .notification-list .notification-list-item {
    border-bottom: 1px solid #F4F5F7;
    padding: 24px 0;
}

.notification-dropdown .notification-list img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.notification-dropdown .notification-list .notification-details h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    color: #2D2D2D;
}

.notification-dropdown .notification-list .notification-details h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #7A869A;
    margin: 0;
    text-align: initial;
}

.profile-img-container .dropdown-menu a ,.profile-img-container .dropdown-menu div{
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #6B6B6B !important;
}

.profile-drop-header img {
    width: 66px;
    height: 66px;
}

.profile-drop-header h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

.profile-drop-header h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #BDBDBD;
    margin: 0px;
}

.notification-drop p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #7A869A;
}

.notification-drop a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000 !important;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 25px;
    width: 180px;
    margin: auto;
    text-align: end;
}

.notification-drop a i.fa-long-arrow-right {
    color: #000;
}

.notification-drop.cart-drop {
    padding: 60px 0;
}

.notification-bar span.noti-count {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 1;
    background: #F06543;
    border: 3px solid #FFFFFF;
    padding: 4px 6px 2px;
    border-radius: 60px;
    right: 4px;
    top: -8px;
}



@media (max-width: 991px) {
    .cart-header-title h5 {
        font-size: 18px;
    }
    .header-right-content .search-bar {
        padding-right: 0;
    }
    .notifications-dropdown.dropdown-menu.show {
        /* transform: translate3d(-180px, 70px, 0px) !important; */
        z-index: 99999;
    }

    .noti-drop.notifications-dropdown.dropdown-menu.show{
        /* transform: translate3d(-265px, 70px, 0px) !important; */
        z-index: 99999;
    }

    .sidebar-header-noti.notifications-dropdown.dropdown-menu.show {
        /* transform: translate3d(-240px, 70px, 0px) !important; */
        z-index: 99999;
    }

    .fav-drop.notifications-dropdown.dropdown-menu.show {
        /* transform: translate3d(-225px, 70px, 0px) !important; */
        z-index: 99999;
    }
    
    .profile-img-container .dropdown-menu.show {
        /* transform: translate(-203px, 70px) !important; */
        transform: translate(0, 30px) !important;
        z-index: 99999;
    }
    
}

@media (max-width: 400px) {
    .noti-drop.notifications-dropdown.dropdown-menu.show{
        /* transform: translate3d(-240px, 70px, 0px) !important; */
        z-index: 99999;
    }
}


@media (min-width: 768px) {
    .header-bg {
        background-color: #fff;
    }
}

@media(max-width: 400px) {
    .header-right-content .search-bar input {
        width: 120px
    }
    .header-right-content .header-icon {
        margin: 0 2px;
    }
}

@media (max-width: 767px) {
    .header-mobile-bg {
        background-color: #fff;
        margin: 0 -15px;
        padding: 0 0 0 15px;
    }
    .header-right-content {
        margin-top: 35px;
    }
    .location-bar {
        margin-right: 20px;
    }
    .home-address-dropdown {
        top: 90px !important;
        left: 0px !important;
        transform: translate(-80%, 30px) !important;
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .cart-header-title h5 {
        font-size: 16px;
    }
    .home-address-dropdown {
        top: 90px !important;
        left: -50px !important;
    }
}

@media (min-width: 992px) {
    .notifications-dropdown.dropdown-menu.show {
        inset: 0 0 auto auto !important;
        /* transform: translate3d(-300px, 70px, 0px) !important; */
    }

    .noti-drop.notifications-dropdown.dropdown-menu.show{
        /* transform: translate3d(-300px, 70px, 0px) !important; */
    }

    .fav-drop.notifications-dropdown.dropdown-menu.show {
        /* transform: translate3d(-240px, 70px, 0px) !important; */
    }

    .profile-img-container .dropdown-menu.show {
        /* transform: translate(-203px, 70px) !important; */
    }
    .home-address-dropdown {
        /* top: 90px !important;
        left: 50% !important; */
    }
}

@media (max-width: 400px) {
    .notification-bar span.noti-count {
        right: -4px;
    }
}