.back-btn{
    margin-right: 15px;
}

.back-btn a {
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.back-btn a:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.sidebar-header-content{
    margin-right: auto;
}

.sidebar-header-content h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #000000;
    margin: 0;
}

.sidebar-header-content h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #6B6B6B;
    text-align: initial;
}

.sidebar-header .header-acrtion img.profile-img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.notification-bar .fa-circle {
    color: #EB5757 !important;
    font-size: 10px !important;
    background-color: #fff;
    padding: 3px !important;
    right: -5px;
    border-radius: 50%;
    top: -5px;
}

.dropdown .dropdown-toggle.btn.btn-primary {
    background: transparent ;
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none;
}

.dropdown .dropdown-toggle.btn.btn-primary:focus, .dropdown .dropdown-toggle.btn.btn-primary:active {
    background: transparent ;
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu.show {
    padding: 33px;
    /* transform: translateY(43px) !important; */
    /* transform: translate(10px, 43px) !important; */
    /* transform: translatex(-50%) !important; */
    background: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    min-width: 16rem;
}

#address-dropdown{
     transform: translate(10px, 43px) !important;
}

.dropdown-menu a {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #31312E;
    margin-bottom: 24px;
}

.dropdown-menu a i {
    font-size: 16px;
    color: #6B6B6B;
}

.dropdown-menu a:last-child {
    margin-bottom: 0;
}

.dropdown-menu a:hover {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.notification-dropdown .notification-header h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: #31312E;
}

.notification-drop {
    text-align: center;
    padding: 100px 0;
}

.sidebar-header .notification-drop img {
    width: auto;
    height: 100%;
    border-radius: 0;
}

.notification-bar .fa-bell-o {
    color: #000;
    opacity: 0.4;
}

.notification-drop h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #172B4D;
    margin-top: 40px;
}

@media (max-width: 991px) {
    .sidebar-header-mobile {
        background-color: #fff;
        margin: 0 -15px 0;
        padding: 0 15px;
    }
}

@media screen and (max-width: 767px) {
    #address-dropdown{
        transform: translate(-80%, 43px) !important;
         /* transform: translate(10px, 43px) !important; */
    }
}